<!DOCTYPE html>
<html lang="en">
<head>
  <title>Commonsense Question and Answering</title>
  <style>
    .jumbotron:hover {
        box-shadow: 5px 5px #888888;
    }
    p, ul {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
    }
    h2 {
        font-family: 'Times New Roman', Times, serif;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CommonsenseQA</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./">Home</a></li>
                <li><a href="./about">About</a></li>
                <li class = "active"><a href="#">Contributors</a></li>
            </ul>
        </div>
    </nav>
    <p><br></p>
    <div class = "container">
        <div class = "row">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-4">
                <div class = "jumbotron text-center" style = "background-color: white;">
                    <p>Parimi Siva Krishna Sarma</p>
                    <p style = "font-size: medium;">parimi.siva@iitgn.ac.in</p>
                    <p>IIT Gandhinagar</p>
                </div>
            </div>
            <div class = "col-sm-2"></div>
            <div class = "col-sm-4">
                <div class = "jumbotron text-center" style = "background-color: white;">
                    <p>Chenna Kesava Tirunagari</p>
                    <p style = "font-size: medium;">chenna.kesava@iitgn.ac.in</p>
                    <p>IIT Gandhinagar</p>
                </div>
            </div>
            <div class = "col-sm-1"></div>
        </div>
        <div class = "row">
            <div class = "col-sm-1"></div>
            <div class = "col-sm-4">
                <div class = "jumbotron text-center" style = "background-color: white;">
                    <p>Uttharapally Sai Chandra</p>
                    <p style = "font-size: medium;">uttharapally.chandra@iitgn.ac.in</p>
                    <p>IIT Gandhinagar</p>
                </div>
            </div>
            <div class = "col-sm-2"></div>
            <div class = "col-sm-4">
                <div class = "jumbotron text-center" style = "background-color: white;">
                    <p>Dyavarashetty Peeyush</p>
                    <p style = "font-size: medium;">dyavarashetty.peeyush@iitgn.ac.in</p>
                    <p>IIT Gandhinagar</p>
                </div>
            </div>
            <div class = "col-sm-1"></div>
        </div>
    </div>
</body>